*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(21,21,21);
    overflow: hidden;
}
#app img{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    animation: animate 2s linear infinite;
}
button{
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 0;
    border: none;
    outline: none;
    font-size: 70px;
    line-height: 10vw;
    color: rgba(255, 255, 255, 0.438);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover{
    color: rgba(255, 255, 255, 0.664);
    font-size: 80px;
}
#btleft{
    position: absolute;
    left: 0;
}
#btright{
    position: absolute;
    right: 0;
}
@keyframes animate{
    0%{
        top: 90%;
    }
    50%{
        top: 93%;
    }
    100%{
        top: 90%;
    }
}