<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in arr">
                name:{{item}}
            </li>
        </ul>
        <ul>
            <li v-for="(item,index) in arr">
                {{index+1}}:{{item}}
            </li>
        </ul>
        <input type="button" value="添加数据" @click="add">
        <input type="button" value="删除数据" @click="remove">
        <ul>
            <li v-for="item in xj" v-bind:title="item.name">
                {{item.name}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                arr:["vezzzing","meiiing","kata"],
                xj:[
                    {name:"xjzyz"},
                    {name:"wbcmt"},
                ]
            },
            methods:{
                add:function(){
                    var textTemp="";
                    for(var i=0;i<5;i++){
                        textTemp+=String.fromCharCode(Math.floor(Math.random()*26+97));
                    }
                    this.xj.push({name:textTemp});
                },
                remove:function(){
                    this.xj.shift();//默认移出最左边的元素
                }
            }
        })
    </script>
</body>
</html>