<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">
        <div class="search_form">
            <div class="input_area">
                <input type="text" class="input_txt" @keyup.enter="searchWeather" v-model="city">
                <button class="input_sub" @click="searchWeather">搜索</button>
            </div>
            <div class="hot_key">
                <a href="javascript:;" @click="changeCity('北京')">北京</a>
                <a href="javascript:;" @click="changeCity('上海')">上海</a>
                <a href="javascript:;" @click="changeCity('杭州')">杭州</a>
                <a href="javascript:;" @click="changeCity('深圳')">深圳</a>
            </div>
        </div>
        <ul class="weather_list">
            <li v-for="item in weatherList">
                <div class="w_type"><span>{{item.type}}</span></div>
                <div class="w_temperature">
                    <span class="low">{{item.low}}</span>
                    ~
                    <span class="high">{{item.high}}</span>
                </div>
                <div class="w_windDirection">
                    <span>{{item.fengxiang}}</span>
                </div>
                <div class="w_date">
                    <span>{{item.date}}</span>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>